.section-header {
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.section-header {
  background-color: #0000ff;
  font-size: 20px;
}
.section-header {
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.mainr {
  background-color: #fff;
  font-size: 10px;
  font-weight: 500;
}
